@section scripts {
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="@Url.Content("~/Scripts/app/mapping.js")"></script>
    <script>
        var mapOptions = {
            container: "map",
            latitude: 55.61294,
            longitude: -4.49418,
            zoom: 15
        };

        $(function() {
            mapping.init(mapOptions);
        });
    </script>
}
@section css {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->
}

<div id="map"></div>